<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        button {
            background-color: white;
            color: black;
            border-radius: 10em;
            font-size: 17px;
            font-weight: 600;
            padding: 1em 2em;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            border: 1px solid black;
            box-shadow: 0 0 0 0 black;
        }

        button:hover {
            transform: translateY(-4px) translateX(-2px);
            box-shadow: 2px 5px 0 0 black;
        }

        button:active {
            transform: translateY(2px) translateX(1px);
            box-shadow: 0 0 0 0 black;
        }
        button, button a {
            color: black;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<button><a th:href="@{/song/findSong}">Go back home</a></button>
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p th:text="${Song.songName}" class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" ></p>

                                <form  method="post" th:object="${Song}" th:action="@{/song/updateSong}" enctype="multipart/form-data" class="mx-1 mx-md-4">
                                    <input type="hidden" th:field="*{id}">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" th:field="*{songName}" id="form3Example1c" class="form-control" />
                                            <label class="form-label" for="form3Example1c">Song Name</label>
                                        </div>
                                    </div>
                                    <p style="color: red" th:text="${msg}"></p>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="date" th:field="*{songTime}" id="form3Example3c" class="form-control" />
                                            <label class="form-label" for="form3Example3c"> Date</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" th:field="*{album.albumId}" id="form3Example4c" class="form-control" />
                                            <label class="form-label" for="form3Example4c">album</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" th:field="*{singer.singerId}"  class="form-control" />
                                            <label class="form-label" for="form3Example4c">singer</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" th:field="*{country.countryId}"  class="form-control" />
                                            <label class="form-label" for="form3Example4c">singer</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="file" name="music"   class="form-control" />
                                            <label class="form-label" for="form3Example4c">song</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="file" name="image" class="form-control" />
                                            <label class="form-label" for="form3Example4c">image</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg">Change</button>
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img  th:src="@{'/freeFile/' + ${Song.songImage}}"
                                     class="img-fluid" alt="Sample image">
                            </div>
                            <audio controls autoplay>
                                <source th:src="@{'/freeFile/' + ${Song.songSong}}">
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>

